{% extends "base.html" %}

{% block title %}User profile{% endblock %}

{% block content %}
    <h1>Profile</h1>

    <p>
        You can <a href="{% url "edit" %}">edit your profile</a> or
        <a href="{% url "password_change" %}">change your password</a>.
    </p>

    <h2>Уведомления</h2>
    <br>
    <div id="action-list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% endfor %}
    </div>

    <br>
    <h2>Неопубликованные статьи</h2>
    <br>
        <div>
        {% for post in unpublished %}
            <div class="card shadow bg-white">
                <div class="card-body">
                    <h2 style="display: inline" class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <i style="float: right">{{ post.created_date }}</i>
                </div>
                <br>
            </div>
        {% empty %}
            <p>У вас нет неопубликованных статей</p>
        {% endfor %}
    </div>

{% endblock %}