{% extends "base.html" %}

{% block title %}Images bookmarked{% endblock %}

{% block content %}
    <h1>Images bookmarked</h1>
    <div id="image-list">
        {% include "images/image/list_ajax.html" %}
    </div>
{% endblock %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function () {
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false){
            block_request = true;
            page += 1;
            $.get('?page=' + page, function (data) {
                if(data == '') {empty_page = true;}
                else{
                    block_request = false;
                    $('#image-list').append(data)
                }
            })
        }
        }
    )
{% endblock %}
{# Этот скрипт выполняет действия, перечисленные ниже.#}
{# - 1. Определяет переменные:#}
{#   + page (хранит текущую страницу);#}
{#   + empty_page (является ли последняя полученная страница пустой. Таким образом, мы сможем остановить дальнейшие #}
{#   запросы при получении пустого ответа);#}
{#   + block_request (блокирует отправку запросов, если уже есть выполняемый запрос).#}
{# - 2. Задает обработчик, который будет выполняться при прокручивании страницы, с помощью $(window).scroll().#}
{# - 3. Вычисляет разницу между высотой всей страницы и высотой видимой части, сохраняя в переменную margin. Это будет #}
{#количество пикселей, оставшихся до конца страницы. Мы вычитаем 200 пикселей, чтобы загрузка следующей страницы #}
{#началась немного раньше, чем пользователь промотает до конца.#}
{# - 4. Обращается к серверу для получения следующей страницы, проверяя, не является ли последней текущая показанная #}
{#страница и не был ли послан другой запрос.#}
{# - 5. Выставляет переменную block_request в true, чтобы избежать дополнительных запросов, #}
{#и увеличивает счетчик страниц page.#}
{# - 6. Выполняет GET-запрос с помощью $.get() и получает фрагмент HTML в переменной data. Далее возможны два сценария:#}
{#      1)ответ не содержит данных, следовательно, мы получили пустой список (достигли конца списка). #}
{#Выставляем переменную empty_page в true и больше не обращаемся к серверу при прокрутке;#}
{#      2)ответ содержит данные. В таком случае добавляем полученные данные #}
{#в конец списка – HTML-элемента с идентификатором image-list.#}


