{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}

    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">

{% block content %}
<link href="{% static "css/sidebar.css" %}" rel="stylesheet">
{% csrf_token %}


    {% for post in posts %}

        <div class="card shadow bg-white">
            <div class="card-body">
                <h1 class="card-title"> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p class="card-text"> {{ post.body_summary|striptags }} </p>
                <div>
                    {% for tag in post.tags %}
                        <a style="color: black"
                           href="{% url "blog" %}?tag_value={{ tag }}"
                        ><i>{{tag}}</i></a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                <div> {{ post.created_date }}</div>
            </div>
        </div>

    {% endfor %}
    {% include "pagination.html" with page=posts %}

{% endblock %}

{% block sidebar %}
    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">
    {% csrf_token %}

        <h2>Daniil's personal blog</h2>
        <p>This is my personal blog. I've written 7 posts</p>

        <h3>Search for posts</h3>
        <form action="." method="get">
            {{ search_content_form.as_p }}
            <input name="content" type="submit" value="Search">
        </form>

        <br><br>
        <h3>Search for tag</h3>
        <form action="." method="get" id="tagform">
            <p>

                <label for="tags">tag:</label>
                <select name="query" id="tags" form="tagform"
                        id="id_query">
                {% for tag in all_tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
                </select>
{#                <label for="id_query">tag:</label>#}
{#                <input type="text" name="query" required="" id="id_query" list="tags_input">#}
{#                <datalist id="tags_input">#}
{#                    <option>Volvo</option>#}
{#                    <option>Saab</option>#}
{#                    <option>Mercedes</option>#}
{#                    <option>Audi</option>#}
{#                </datalist>#}
            </p>
            <input name="tag" type="submit" value="Search">
        </form>

        <h3>Latest posts</h3>
        {% show_latest_posts 3 %}

{% endblock %}
