{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load thumbnail %}

{% block content %}
    <link href="{% static "css/analyse_image.css" %}" rel="stylesheet">
    <div id="blog">
        {% if image is None and img is None %}
            <h2>Выберите изображение для анализа</h2>
            <form action="{% url "images:analyse_image" %}" method="post" enctype='multipart/form-data'>
                <p>
                    <input type="file" name="image" accept="image/*" id="id_image">
                </p>
                {% csrf_token %}
                <input name="upload_img" type="submit" value="загрузить изображение">
            </form>
        {% endif %}
        {% if image is not None %}
            <body onload="myFunction()" style="margin:0;">
            {% if wait %}
                <form  action="{% url "images:analyse_image" %}?image_loaded" method="get">
                    <input name="image_loaded" type="submit"
                           value="Загрузить результат" class="start_analyze"
                    style="background-color: #609ab6;">
                </form>

            {% else %}
                <form action="{% url "images:analyse_image" %}?image_id={{ pk }}" method="post"
                      enctype='multipart/form-data'>
                    {% csrf_token %}
                    <input name="analyse_img" type="submit"
                           value="Запустить анализ" class="start_analyze">
                </form>
            {% endif %}
            <div class="profile-info" style="padding-bottom: 50px;">
                {% if image is not None %}
                    <img src="{{ image.image.url }}">
                {% endif %}
            </div>
            <div class="loader" id="loader" style="display: none"></div>
        {% endif %}


    {% if img is not None %}
        <div class="profile-info">
            <img src="{{ img }}">
        </div>
        <div style="height: 250px; display: inline">
            {% for d in img_data %}
                <div class='box'
                     style="background-color: rgb({{ d.r }},{{ d.g }},{{ d.b }});
                             display: inline"
                ><span style="margin-left: 30px; display: inline">{{ d.model }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>


{% endblock %}

{% block domready %}

$('input.start_analyze').click(function (e) {
{#    alert('hello')#}
    document.getElementById("loader").style.display = "block";
})
{% endblock %}