{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static "css/add_article.css" %}" rel="stylesheet">

{% csrf_token %}

<div id="blog">
    <h2>Create new article</h2>
    {% if post_id %}
    <form action="./newpost?post_id={{ post_id }}" method="post">
    {% else %}
     <form action="./newpost" method="post">
    {% endif %}
        {{ post_form.as_p }}
        {% csrf_token %}
        {{ post_form.media }}
        <p><input type="submit" value="Создать новую статью"></p>
    </form>
</div>
{% endblock %}